.articles-total {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.articles-total .article-card {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 250px;
  margin-left: 50px;
  margin-right: 50px;
}

.articles-total .article-card .article-card-image {
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 300px;
}

a:-webkit-any-link {
  text-decoration: none;
}
