.App {
  /* text-align: center; */
  background-color: rgba(25,25,25,1);
  color: rgb(255,255,255);

}

.App-header {
  min-height: 50vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.articles-total {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.articles-total .article-card {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 345px;
}

.articles-total .article-card .article-card-image {
  width: 100%
}
/* .App-link {
  color: #61dafb;
} */
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
